

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}


html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  
}

  .container {
  width: 80vw;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1480px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 1350px) {
  html {
    font-size: 73%;
  }
}

@media screen and (max-width: 1230px) {
  html {
    font-size: 63%;
  }
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 55%;
  }
}


